
      

    {% extends "modelo.html" %}

    {% block title %}Cliente{% endblock %}
    
    {% block content %}
    <h1> Cliente</h1>
    <form name="cliente" method="POST" action="/cliente/addCliente" class="well form-horizontal">
          <div class="form-row">
             <div class="col-sm-2">
                <label for="idCliente">Código :</label>
                <input readonly value="" type="text" name="idCliente" id="idCliente" class="form-control"
                   arria-describeby="idClienteHelp" placeholder="ID Cliente">
                <small id="idClienteHelp" class="form-text text-muted">Informe o id do cliente.</small>
             </div>
             <div class="col-sm-4">
                <label for="nome">Nome Cliente :</label>
                <input value="" type="text" name="nome" id="nome" autofocus="" class="form-control"
                   arria-describeby="nomeClienteHelp" placeholder="Nome Cliente">
                <small id="nomeClienteHelp" class="form-text text-muted">Informe o Nome do cliente.</small>
             </div>
             <div class="col-sm-4">
                <label for="email">Email:</label>
    
                <input value="" type="email" name="email" id="email" class="form-control">
             </div>
          </div>
          
    
          <div class="form-row">
             <div class="col">
                <label for="endereco">Endereço :</label>
                <input value="" type="text" name="endereco" id="endereco" class="form-control">
             </div>
             <div class="col">
                <label for="numero">Número :</label>
                <input value="" type="number" name="numero" id="numero" class="form-control">
             </div>
          </div>
    
          <div class="form-row">
             
          </div>
    
          <div class="form-row">
             <div class="col-4">
                <label for="cepCliente">CEP :</label>
                <input value="" type="text" name="cep" id="cep" class="form-control">
             </div>
             <div class="col-sm-2">
                <label for="bairro">Bairro :</label>
                <input value="" type="text" name="bairro" id="bairro" class="form-control">
             </div>
             <div class="col-sm-4">
                <label for="cidade">Cidade :</label>
                <input value="" type="text" name="cidade" id="cidade" class="form-control">
             </div>
             <div class="col-sm-2">
                <label for="estado">Estado :</label>
                <select name="estado" id="estado" class="form-control">
                   <option>RS</option>
                   <option>SC</option>
                   <option>PR</option>
                   <option>RJ</option>
                   <option>SP</option>
                </select>
             </div>
          </div>
    
          <div class="form-row">
             <div class="col-sm-4">
                <label for="telefone">Telefone:</label>
                <input value="" type="tel" name="telefone" id="telefone" class="form-control">
             </div>
          
          <div class="col-sm-4">
             <label for="observacao">Observação :</label>
             <input value="" type="text" name="observacao" id="observacao" class="form-control">
          </div>
          </div>
          <div class="form-row">
            
            <div class="col-sm-4">
              <label for="nome">Nome:</label>
              <input  type="text" name="nome" id="nome" autofocus="" >
            </div>
            <div class="col-4">
              <label for="login">Login:</label>
              <input  type="text" name="login" id="login">
            </div>
         </div>
         <div class="form-row">
           <div class="col-sm-4"> 
            <label for="senha">Senha:</label>
            <input  type="password" name="senha" id="senha"><br>
           </div>
           <div class='col-sm-4'></div>
            <label for="grupo">Grupo:</label>
            <input  type="text" name="grupo" id="grupo">
           </div>
         
          <br>
    
          
          <div class='form-row'>
             <div class='col-sm-4'>
                <button type='submit' name='addClienteDB' id='addClienteDB' >
             </div>
          </div>
         
    
          <!-- <div class='form-row'>
             <div class='col'>
    
                <div class="form-group">
                   <button type='submit' name='editClienteDB' id='editClienteDB' class='btn btn-success'><i
                         class='fas fa-save'></i> Salvar</button>
                   <button type='submit' name='excluiClienteDB' id='excluiClienteDB' class='btn btn-danger'><i
                         class='far fa-trash-alt'></i> Excluir</button>
                </div>
             </div>
          </div> -->
    </form>
    {% endblock %}