<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>BD - AbcBolinhas</title>
</head>

<body>

    {% if produto.id_produto == 0 %}
    <h1>Novo Produto</h1>
    <form name="produto" method="POST" action="{{url_for('produto.addProduto')}}" enctype="multipart/form-data">
        {% else %}
        <h1>Editar produto: {{ produto.id_produto }}</h1>
        <form name="produto" method="POST" action="{{url_for('produto.editProduto')}}" enctype="multipart/form-data">
            {% endif %}

            <label for="id_produto">Código :</label>
            <input readonly value="{{ produto.id_produto }}" type="text" name="id_produto" id="id_produto">

            <label for="descricao">Descrição do Produto :</label>
            <input value="{{ produto.descricao }}" type="text" name="descricao" id="descricao" autofocus="">

            <label for="valor">Valor:</label>
            <input value="{{ produto.valor }}" type="text" name="valor" id="valor">

            <label for="imagem">Imagem:</label>
            <input type="file" name="imagem" accept="image/*" id="imagem">

            <br>
            <img src='{{ produto.imagem }}'>

            <br>
            {% if produto.id_produto == 0 %}
            <button type='submit' name='addProdutoDB' id='addProdutoDB'>Salvar</button>
            {% else %}
            <button type='submit' name='salvaEditaProdutoDB' id='salvaEditaProdutoDB'>Salvar</button>

            <button type='submit' name='salvaExcluiProdutoDB' id='salvaExcluiProdutoDB'>Excluir</button>
            {% endif %}
        </form>
</body>

</html>