{% extends "modelo.html" %}

{% block title %}Cliente{% endblock %}

{% block content %}
<form action="{{url_for('produto.formProduto')}}" method="POST">
        <button type="submit" name="formNovoProduto">Novo Produto</button>
    </form>
    <br>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result %}
            <tr>
                <th> {{ row[0] }}</th>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td><img src="{{ row[3] }}"></td>
                <td>
                    <form action="{{url_for('produto.formEditProduto')}}" method='POST' name='editProduto'>
                        <input type='hidden' name='id_produto' value='{{ row[0] }}'>
                        <button type='submit' name='formEditProduto'>Editar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% endblock %}