{% extends "modelo.html" %}

{% block title %}Home{% endblock %}
{% block content %}
          <form>
            <div class="form-group row">
                <div col sm10>
                        <label for="IDPROD">Codigo do produtos</label>
                        <input class="form-control " type="text" placeholder="id prod">
                </div>
                
            </div>
            <div class="form-group row">
                    <div col sm10>
                            <label for="descr">descrição do produto</label>
                            <input class="form-control " type="text" placeholder="descrição do prod">
                    </div>
                </div>
            <div class="form-group row">
                            <div col sm10>
                                    <label for="valor1">valor</label>
                                    <input class="form-control " type="text" placeholder="valor do prod">
                            </div>            
                    
            </div>
            <div class="form-group row" >
                    <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                    <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary">cancelar</button>
            </div>
          </form>
{% endblock %}