{% extends "modelo.html" %}

{% block title %}Home{% endblock %}
{% block content %}


<button type="button" class="btn btn-primary" href="formsprod.html">adicionar</button>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">descriçao </th>
        <th scope="col">preço</th>
        <th scope="col">imagem</th>
        
      </tr>
    </thead>
    
  </table>
  
{% endblock %}