<!DOCTYPE html>
<html lang="pt-br"> 

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">
 
   
    <title>{% block title %}{% endblock %} - AbcBolinhas</title>
  
    {% endblock %}
</head>

<body>
    {% block menu %}
  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- static-top -->
        <a class="navbar-brand" href="{{ url_for('home.home') }}">Abc Bolinhas</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="{{ url_for('home.home') }}"><i class="fas fa-home"></i> Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('cliente.formListaClientes') }}"><i class="fas fa-users"></i>
                    Clientes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('produto.formListaProdutos') }}"><i class="fas fa-pizza-slice"></i>
                    Produtos</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('pedido.formListaPedidos') }}"><i class="fab fa-jedi-order"></i>
                    Pedidos</a>
            </li>
            
    
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('login.logoff') }}"><i class="fas fa-sign-out-alt"></i>
                    Sair</a>
            </li>
        
            <div id="sessao" class="nav-link"></div>
        </ul>
    </nav>


    {% endblock %}

    <main>
        <div class="container mt-5">
            <div class="row mt-3">
                <div class="col col-12">{% block content %}{% endblock %}</div>
            </div>
        </div>
    </main>

    {% block footer %}
    <div class="container-fluid mt-5">
        <footer>
            &copy; Copyright 2019 by 
        </footer>
    </div>
    {% endblock %}


    


    
       

      

        

</body>

</html>