{% extends "modelo.html" %}

{% block title %}HOME{% endblock %}

{% block content %}
<p>home</p>
    <div class="container mt-5">
        

        {% if 'usuario' in session %}
            <p></p>Bem-vindo <b>{{ session['username'] }}</b> <br></p>
           

        {% endif %}
    </div>

{% endblock %}