<!doctype html>
<html>
    <head>
        
            
            <title> AbcBolinhas</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">

            <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.jpg') }}">

           
            <style type="text/css">
                
                .login-sec{margin: 0 auto; margin: center;  margin-top:12.5%; }
                .login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
                .login-sec .copy-text i{color:#FEB58A;}
                .login-sec .copy-text a{color:#E36262;}
                .login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
                .login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
                .btn-login{background: #DE6262; color:#fff; font-weight:600;}
            </style>
       
        
    </head>
    <body>
            
                    <div class="container">
                  <div class="row">
                    
                    <div class="col-md-4 login-sec">
                        <h2 class="text-center">Login </h2>
                        <form class="login-form"action="{{ url_for('login.validaLogin') }}" method="post" >
                  <div class="form-group">
                    <label for="login" class="text-uppercase">Login</label>
                    <input type="text" class="form-control" placeholder="" name="username" >
                    
                  </div>
                  <div class="form-group">
                    <label for="senha" class="text-uppercase">Senha</label>
                    <input type="password" class="form-control" placeholder="" name="password" >
                  </div>
                  
                

                    <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input">
                      <small>Lembre Me</small>
                    </label>
                    
                    
                    <button type="submit" class="btn btn-login float-right"value="login">Salvar</button>
                   
            
                  </div>
                  {% if request.args.get('falhaLogin') == '1': %}
                  <div class="row">
                      <div class="col col-12">
                          <div class="alert alert-danger" role="alert">
                              Falha de Login! Verifique seus dados e tente novamente!
                          </div>
                      </div>
                  </div>
                  {% endif %}
                  {% if request.args.get('falhaSessao') == '1': %}
                  <div class="row">
                      <div class="col col-12">
                          <div class="alert alert-danger" role="alert">
                              Falha de Sessão! Realize seu login!
                          </div>
                      </div>
                  </div>
                  {% endif %}          
                  
                </form>
                 
                 </div>
                 
                 
                 <script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>
       
    </body>
</html>