{% extends "modelo.html" %}
{% block title %}Form PEDIDO{% endblock %}
{% block content %}
<h1>FORMULARIO PEDIDO</h1>

<form name="pedido" method="POST" action="/pedido/addpedido" class="well form-horizontal">

    <div class="row mt-3">
        <div class="col col-3">
            <div class="form-group">
                <label for="num">Número do Pedido</label>
                <input readonly value="" id="num" type="text" class="form-control">
            </div>
        </div>
        <div class="col col-3">
            <div class="form-group">
                <label for="code">Selecione o Cliente</label>
                <select id="code" name="code" type="text" class="form-control">
                    {% for cliente in clientes %}
                    <option value="{{ cliente[0] }}">{{ cliente[1] }} </option>
                    {% endfor %}

                </select>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col col-6">
            <div class="form-group">
                <label for="observacoes">Observações:</label>
                <textarea class="form-control" name="observacoes" id="observacoes" rows="2"></textarea>
            </div>
        </div>
    </div>

    <hr> 


    <div class='form-row'>
        <div class='col'>
            <div class="form-group">
            <button class="btn btn-info"><i class="fa fa-save"></i> Adicionar</button>
            </div>
        </div>
    </div>



    <hr>
</form> 

{% endblock %}